* {
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
}

body{
    display:grid;
    grid-template-columns: repeat(15, 1fr);
    font-family: "Dosis", sans-serif;
}

header {
    background-color: rgb(42, 76, 111);
    color:white;
    min-height: 100px;
    padding: 15px 20px;
    grid-column: 2/15;
    align-content: center;
    text-align: center;
}

nav{
    grid-column: 2/15;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
}
ul a {
    text-decoration: none;
    color: inherit;
}

aside {
    padding-left:20px;
    background-color: #cccccc;
}

#name {
    grid-column: 2/15;
    background-color: #cccccc;
    text-align: center;
    padding: 15px;
    font-size: 2em;
}

#right_aside {
    grid-column: 2/3;
}

main {
    height: auto;
    grid-column: 2/15;
    grid-template-columns: repeat(10, 1fr);
    background-color: #cccccc;
    display: grid;
    padding-bottom: 30px;
}

main div{
    background-color: rgb(42, 76, 111);
    border-radius: 15px;
    grid-template-columns: repeat(15, 1fr);
    border: 1px black;
    color: white;
    text-align: center;
}

#aboutDiv{
    grid-column: 2/7;
    margin-left: 10px;
    margin-right: 5px;
}
#resourceDiv{
    grid-column: 7/10;
    margin-left: 5px;
    margin-right: 10px;
}
div section {
    background-color: #cccccc;
    color: black;
    /*width:100%;*/
    height:100%;
    text-align: left;
    border: 1px black solid;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
}

#left_aside {
    grid-column: 13/15;
}

ul {
    padding-left: 25px ;
}

footer {
    background-color: rgb(42, 76, 111);
    color:white;    
    align-content: center;
    text-align: center;
    padding: 20px;
    grid-column: 2/15;
}

#homeNav {
    background-color: #262626;
    color:white;
    min-height: 50px;
    align-content: center;
}