@media (min-width: 768px) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        width: auto;
        background-color: transparent;
    }

    .navigation {
        flex-direction: row; 
    }

    .navigation a {
        display: block; 
        padding: 1rem;
    }
}
    
/* === MEDIA QUERY FOR VERY LARGE SCREENS (Wider Desktop) === */
@media (min-width: 1200px) {
    /* Adjust layout for very wide screens */
}