* {
    margin: 0;
    padding: 0;
}
header,footer, nav, .navigation, #menu, .navigation a{
    background-color: rgb(42, 76, 111);
    color: white;
}

body{
    display:grid;
    grid-template-columns: repeat(15, 1fr);
    font-family: "Dosis", sans-serif;
}

header {
    grid-column: 2/15; 
    display: flex;                /* Enables flexbox */
    justify-content: space-between; /* Pushes title left and menu right */
    align-items: center;          /* Centers items vertically */
    padding: 0 1rem;              /* Prevents button from touching the edge */
}

header p {
    font-size: 2.5rem;
    padding: 10px 0;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    cursor: pointer;
}

nav{
    align-content: center;
}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "Ｘ";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
}

.open a {
	display: block;
}

.active::before {
	content: "📍";
}


main {
    grid-column: 2/15;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

main h1 {
    grid-column: 1 / -1;
    display: block;
    text-align: center;
    margin: 1rem 0;
    width: 100%;
}

figure {
    text-align: center;
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    color: rgb(42, 76, 111);
}

footer {
    grid-column: 2/15;
    align-content: center;
    text-align: center;
}